In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [30]:
import seaborn as sns

In [31]:
data = pd.read_csv("GOOG.csv")
data.shape

(252, 7)

In [32]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [33]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-08-14,1515.660034,1521.900024,1502.880005,1507.729980,1507.729980,1354800
1,2020-08-17,1514.670044,1525.609985,1507.969971,1517.979980,1517.979980,1378300
2,2020-08-18,1526.180054,1562.469971,1523.709961,1558.599976,1558.599976,2027100
3,2020-08-19,1553.310059,1573.680054,1543.949951,1547.530029,1547.530029,1660600
4,2020-08-20,1543.449951,1585.869995,1538.199951,1581.750000,1581.750000,1706900

In [34]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,2033.789589,2055.172756,2015.955556,2036.413054,2036.413054,1.508285e+06
std,394.053789,392.743940,394.655728,395.213631,395.213631,6.141189e+05
min,1411.030029,1443.708984,1406.550049,1415.209961,1415.209961,3.468000e+05
25%,1730.942475,1752.425018,1717.614990,1735.964966,1735.964966,1.126025e+06
50%,2047.665039,2071.656006,2019.325012,2043.779968,2043.779968,1.355900e+06
75%,2371.027466,2389.468750,2353.584961,2380.269959,2380.269959,1.739225e+06
max,2800.219971,2800.219971,2760.100098,2792.889893,2792.889893,4.329100e+06

In [35]:
data.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999164  0.999068  0.998235   0.998235 -0.412687
High       0.999164  1.000000  0.999030  0.999179   0.999179 -0.404806
Low        0.999068  0.999030  1.000000  0.999338   0.999338 -0.427202
Close      0.998235  0.999179  0.999338  1.000000   1.000000 -0.419510
Adj Close  0.998235  0.999179  0.999338  1.000000   1.000000 -0.419510
Volume    -0.412687 -0.404806 -0.427202 -0.419510  -0.419510  1.000000

In [36]:
sns.pairplot(data)

In [ ]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
x_data = data.drop(columns=["Close","Adj Close",'Volume','Date'])
x_data.head()

          Open         High          Low
0  1515.660034  1521.900024  1502.880005
1  1514.670044  1525.609985  1507.969971
2  1526.180054  1562.469971  1523.709961
3  1553.310059  1573.680054  1543.949951
4  1543.449951  1585.869995  1538.199951

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x_data,data["Close"],test_size=0.2,random_state=5)

In [ ]:
from sklearn.model_selection import cross_val_score
lc = LinearRegression()
lc.fit(x_train,y_train)
cross_val_score(lc,x_train,y_train)

array([0.99935377, 0.99904462, 0.99914018, 0.99929461, 0.99938871])

In [ ]:
pred = lc.predict(x_test)
pred

array([2754.48417135, 2293.03720918, 2125.15055482, 1776.5316178 ,
       2549.82535522, 2527.02491125, 2029.17736436, 1735.50884018,
       1573.42763713, 2031.97517532, 1719.41844737, 2094.20668103,
       2348.32900376, 2770.18036   , 1772.09274536, 2214.74486941,
       2270.80617758, 1757.62032511, 2310.18081742, 2665.03725617,
       1641.240041  , 2369.76064154, 1597.67290431, 2056.36047134,
       2291.91327419, 2418.10672545, 2425.61911115, 1721.92285881,
       1807.33979342, 2609.95277872, 2595.38110802, 1560.23242674,
       2255.70241369, 1743.44727151, 2416.74933546, 1607.361475  ,
       2029.13603206, 2531.69995936, 1562.46128095, 2725.70098326,
       2758.82272609, 1432.89155547, 1786.33928728, 1641.98061831,
       1548.3184772 , 1444.36433437, 1418.48527971, 1549.33760462,
       1450.98781284, 1562.01751181, 1777.43233031])

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,pred)

0.9993450084186615

In [ ]:
lc.get_params()

{'copy_X': True,
 'fit_intercept': True,
 'n_jobs': None,
 'normalize': False,
 'positive': False}